
/*Navbar Styles*/
.navbar 
{
    padding: 0% 15% 0% 15%;
}
.navbar-brand
{
    padding-left: 12px;
    font-size: 3rem;
    font-family: Ubuntu;
}

.navbar-light .navbar-brand {
    color:#03d3fc;  

}
.navbar-light .navbar-brand:hover{
    color:#8f8f8f;
}

}
.nav-item{
    padding: 0 18px;
    
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}
.navbar-nav{
    color:#03d3fc;  

}
.image-logo{
    width: 20%;
}

/*Title Section Styles*/

#title
{
    background-color:#03d3fc;
    color:  #fff;
    
}
h1
{
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 4.5rem;
}

.container-fluid{
    padding: 3% 15%;
}

.row {
    padding: 3% 15%;
}

body 
{
    font-family: "Montserrat";
}

/*Download Buttons*/

.download-button
{
    margin: 5% 3% 5% 0%;
}

/*Title-Image*/

.title-image{
    width: 700px;
    transform:rotate(25deg);
}

/*Features */

#features {
    padding: 7% 15%;

}

.feature-box{
    text-align: center;
    padding: 5%;
}

h3
{
    font-family: "Montserrat-bold" sans-serif;
    font-size: 2rem;
    font-weight: 700;
} 
p{
    color: #8f8f8f
}
.icon{
    color:#03d3fc;
    margin-bottom: 1rem;
}

.icon:hover{
    color:#8f8f8f

}


/* Testimonials */

#testimonials{
   
    text-align: center;
    background-color: #719bdb;
    color: #fff;
}
h2{
    font-family: "Montserrat-Bold" sans-serif;
    font-weight: 700;
    line-height: 1.5em;
}
.testimonial-image{
    width: 100px;
    border-radius: 100%;
    margin-top: 11px;
}
#press{
    background-color:#719bdb;
    text-align: center;
    padding-bottom: 21px;
}
.press-logo{
    width: 15% ;
    margin-top: 30px;
    margin-bottom: 30px;
}
.carousel-item{
    padding: 7% 15%;
}







































